<h1>New Question</h1>

<%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Submit" %>
<%- end -%><br>

<h5><%= link_to 'Back to questions', questions_path %></h5>
