<h1>Question Details</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><%= @question.try(:title) %></td>
    <td><%= @question.try(:body) %></td>
  </tr>
</table>

<h5>Edit this answer</h5>
<%= form_for [@question, @answer] do |f| %>
  <% f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Submit" %>
<%- end -%><br>

<h5><%= link_to 'Back to Answers', question_path(@question) %></h5>
